<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="\stylesheets\boilerplate.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet' />

    <link rel="stylesheet" href="\stylesheets\stars.css"/>
    
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"/>

    <link rel="shortcut icon" href="/favicon.ico"/>
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="findRestaurants\apple-touch-icon.png"> -->
    <!-- <link rel="shortcut icon" type="image/png" sizes="32x32" href="findRestaurants\favicon-32x32.png"> -->
    <!-- <link rel="shortcut icon" type="image/png" sizes="16x16" href="findRestaurants\favicon-16x16.png"> -->
    <!-- <link rel="manifest" href="https://json.extendsclass.com/bin/789350252abd"> -->

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


    <title>findRestaurants</title>
</head>
<body  class="body">
    <header><%- include('../partials/navbar')%></header>
    <div class="container">
        <div class="row mt-0">
            <%- include('../partials/flash')%>
            <% if(currentUser) {%>
                    <h4 class="is-size-4 text-muted text-right">@<%= req.user.username %></h4>
              <% } %>
            <div class="col-lg-1 col-xs-2 bg-transparent text-dark hm-gradient ml-0 mr-0 pl-0 pr-0" style="height: 450px;"><%- include('../partials/sidebar')%></div>
            <%- body %>
        </div>
    </div>
    <footer class="text-center py-2 mt-5">
        <div class="container text-center">
            <span class="is-size-5 text-muted mr-1">Powered by Yelp Fusion <span><i class="fab fa-2x fa-yelp"></i></span></span>
            <span class="is-size-5 text-muted mr-3 px-2 border-left">&copy;findRestaurants</span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
                integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
                crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
                integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
                crossorigin="anonymous"></script>
                <!-- <script src="../public/javascripts/validateForms.js"></script> -->
                <script>const htmlEl = document.getElementsByTagName('html')[0];

                    const toggleTheme = (theme) => {
                        htmlEl.dataset.theme = theme;
                    }</script>
                    
</body>
</html>